/* General Style
/* Source:  http://icomoon.io */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'icons';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/icons/icons.eot');
	src: url('../fonts/icons/icons.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/icons/icons.ttf') format('truetype'),
         url('../fonts/icons/icons.svg#icons') format('svg');
}

@font-face {
	font-family: 'icomoon';
	font-weight: normal;
	font-style: normal;
    
	src: url('../fonts/icons/icomoon.eot');
	src: url('../fonts/icons/icomoon.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/icons/icomoon.ttf') format('truetype'),
		 url('../fonts/icons/icomoon.svg#icomoon') format('svg');
}

@font-face {
	font-family: 'fontawesome';
    font-weight: normal;
	font-style: normal;
    
	src: url('../fonts/fontawesome.eot');
	src: url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontawesome.ttf') format('truetype'),
		 url('../fonts/fontawesome.svg#fontawesome') format('svg');
}

/* Resets */
*,
*:after,
*:before {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body,
html {
	font-size: 100%;
	margin: 0;
	padding: 0;
}

/* ClearFix and Helper Classes */
.clearfix:before,
.clearfix:after {
	content: ' ';
	display: table;
}

.clearfix:after {
	clear: both;
}

.hidden {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

/* Main Style */
body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #CECECE;
	background-color: #24252A;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    background: url(../images/aisle.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
	text-decoration: none;
	color: #F0F0F0;
	outline: none;
}

a:hover {
	color: #80CBC4;
}

/* Header */
.main,
.eth-header {
	width: 300%;
	max-width: 70em;
	margin: 0 auto;
	padding: 6em 2em 2em;
	text-align: center;
}

.eth-header h1 {
	font-size: 2em;
	font-weight: 400;
	line-height: 1.5;
	margin: 0 0 .6em 0;
}

.eth-header > span {
	font-weight: 400;
	font-size: 3.0em;
	color: #F0F0F0;
	position: relative;
	z-index: 100;
	display: block;
	padding: 0 0 .5em .1em;
	letter-spacing: .2em;
	text-transform: uppercase;
	text-indent: 30px;
}

.eth-header > span span:after {
	font-size: 50%;
	position: relative;
	top: -20px;
	left: -12px;
	width: 30px;
	height: 30px;
}

.eth-header > span span:hover:before {
	content: attr( data-content );
	font-size: 30%;
	font-weight: 300;
	line-height: 1.2;
	position: absolute;
	left: auto;
	margin-left: 4px;
	padding: .8em 1em;
	text-align: left;
	text-indent: 0;
	letter-spacing: 0;
	text-transform: none;
	color: #FF5722;
	background: #24252A;
}

.eth-header nav {
	text-align: center;
	margin: 0 auto;
}

.eth-header nav a {
	position: relative;
	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	margin: 0 .1em;
	text-align: left;
	border-radius: 50%;
}

.eth-header nav a > span {
	display: none;
}

.eth-header nav a:hover:before {
	content: attr( data-info );
	color: #CECECE;
	font-weight: bold;
	font-size: 0.85em;
	position: absolute;
	top: 120%;
	right: 0;
	width: 600%;
	text-align: right;
	pointer-events: none;
}

.eth-header nav a:hover {
	background: #E64A19;
}

/*.eth-icon,*/
.eth-icon:after {
	font-family: 'icons';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	text-transform: none;
	color: #E64A19;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.eth-header nav .eth-icon:after {
	line-height: 2.4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: 0;
}

.eth-header nav a:hover:after {
	color: #F0F0F0;
}

.eth-icon-about:after {
	content: '\e003';
}


.view {
    background: #24252A;
    display: inline;
    width: 100%;
    vertical-align: middle;
}

.view > section {
	max-width: 290px;
	width: 100%;
	margin: 0 auto;
}

.view > section h2 {
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.5;
	margin: 0 0 .6em 0;
	color: #F0F0F0;
    text-align: center;
    width: 100%;
}

.button {
    vertical-align: middle;
    text-align: center;
    border: none;
	background: #E64A19;
	color: #F0F0F0;
	padding: 1.5em;
	display: block;
	width: 100%;
	cursor: pointer;
	margin: 30px 0;
	font-size: 1em;
    letter-spacing: 0.2em;
    float: center;
}

.button:hover {
    color: #24252A;
	background: #80CBC4;
    box-shadow: 0 12px 16px 0 rgba(36,37,42,0.50),0 17px 50px 0 rgba(128,203,196,0.30);
}

.button.active {
	background: #FF5722;
}

.button.disabled {
	background: #CECECE;
	pointer-events: none;
}

/*
.view > section button {
	border: none;
	background: #E64A19;
	color: #F0F0F0;
	padding: 1.5em;
	display: block;
	width: 100%;
	cursor: pointer;
	margin: 30px 0;
	font-size: 1em;
    letter-spacing: 0.2em;
    float: center;
}

.view > section button:hover {
    color: #24252A;
	background: #80CBC4;
}

.view > section button.active {
	background: #FF5722;
}

.view > section button.disabled {
	background: #CECECE;
	pointer-events: none;
}
*/

@media screen and ( max-width: 40em ) {
	.eth-header h1 {
		font-size: 1.8em;
	}
}